In [7]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
ultra_df=pd.read_csv('ULTRA.csv')
%matplotlib inline
ultra_df

,actual,A50,A100,A150,A200,A300,A400,A500,A600,A645
0,R1,51.118774,100.669853,149.883591,202.292236,302.962097,400.456879,501.861725,603.403992,646.902527
1,R2,48.896221,100.987366,148.931061,199.117157,302.644592,401.726898,501.956665,603.086426,645.315002
2,R3,51.118774,101.304871,149.883591,202.292236,303.279602,401.726898,503.686646,603.086426,647.220032
3,R4,50.166252,102.257393,150.836105,199.117157,300.057037,400.391571,503.369110,605.626526,646.585022
4,R5,49.213730,100.034843,149.566071,202.292236,303.279602,401.409393,502.099091,604.991516,647.537537